@keyframes article_zoom {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(120%);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes vector_zoom {
    0% {
        transform: scale(100%);
    }
    10% {
        transform: scale(130%);
    }

    20% {
        transform: scale(100%);
    }

    30% {
        transform: scale(130%);
    }

    40% {
        transform: scale(100%);
    }

    50% {
        transform: scale(130%);
    }
    60% {
        transform: scale(100%);
    }
    70% {
        transform: scale(130%);
    }
    80% {
        transform: scale(100%);
    }
    90% {
        transform: scale(130%);
    }
    100% {
        transform: scale(100%);
    }

   
}

@keyframes customer_zoom {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(115%);
    }
    100% {
        transform: scale(130%);
    }
}

@keyframes button_color {
    from {
        color: #458FF6;
        background-color: #ffffff; 
    }
    to {
        background-color: #458FF6;
        color: #ffffff;
    }
}

